<a href="https://colab.research.google.com/github/malpat130/BTE320-GH/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r = 3
pi = 3.14
h = 10
Area = 2*pi*r**2 + 2*pi*r*h

print(Area)

244.92000000000002

In [ ]:
p1 = input('choose rock, paper, or scissors')
p2 = input('choose rock, paper, or scissors')
if p1 == p2:
  print('Draw')
elif(p1 == 'rock' and p2 == 'scissors' or
     p1 == 'scissors' and p2 == 'paper' or
     p1 == 'paper' and p2 == 'rock'):
  print("Person 1 wins")
else:
    print("Person 2 wins")

choose rock, paper, or scissorsrock
choose rock, paper, or scissorspaper
Person 2 wins

In [ ]:
n1 = float(input('enter a number'))
n2 = float(input('enter another number'))
symbol = input('choose an operation (+,-,*,/,**):')
if symbol == '+':
  print(n1 + n2)
if symbol == '-':
  print(n1 - n2)
if symbol == '*':
  print(n1 * n2)
if symbol == '/':
  print(n1 / n2)
if symbol == '**':
  print(n1 ** n2)
else:
  print(n1 ** n2)

In [ ]:
#for i in range(2): will allow the game to only run twice
game = input('Do you want to play a game (y/n):') #.lower() - regardless of how you type the string, it will bring all down to lowercase
while game == 'yes':
  p1 = input('choose rock, paper, or scissors')
  p2 = input('choose rock, paper, or scissors') #if want random generator, do random.choice(['rock''paper','scissors'])
  if p1 == p2:
    print('Draw')
  elif(p1 == 'rock' and p2 == 'scissors' or
      p1 == 'scissors' and p2 == 'paper' or
      p1 == 'paper' and p2 == 'rock'):
    print("Person 1 wins")
  else:
      print("Person 2 wins")
  game = input('Do you want to play another game (y/n):')

Do you want to play a game (y/n):yes
choose rock, paper, or scissorsrock
choose rock, paper, or scissorspaper
Person 2 wins
Do you want to play a game (y/n):no

In [ ]:
charge = 5.0
rate = 2.50
MinCharge = 10.0
MaxCharge = 20.0
Amount = 0
for hour in range(1, 9, 1):
  Amount = min(max(charge+ rate*hour,MinCharge),MaxCharge)
  print(f'{Amount}')

10.0
10.0
12.5
15.0
17.5
20.0
20.0
20.0

In [ ]:
Ticket = 10
BasePeople = 20
Fixed = 200
print('Ads',end=' ')
print('profit')
for AdSpend in range(0,201,25):
  profit = Ticket*BasePeople + Ticket*(2*round(AdSpend**0.5)) - Fixed - AdSpend
  print(f'{AdSpend} {profit}')

Ads profit
0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
L = []

item = int(input('Give a value:'))


while item != 0:
  L.append(item)
  item = int(input('Give a value:'))

print(L)

Give a value:1
Give a value:2
Give a value:0
[1, 2]

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]

for i in L1[:]:
  if i in L2[:]:
    L1.remove(i)

print(L1)

[3, 4]

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:

# Defining the constants
r = 0.04  # Annual return rate on investments
portion_down_payment = 0.25  # Down payment portion (25%)

# Asking for user inputs
annual_salary = float(input("Enter your starting annual salary: "))
portion_saved = float(input("Enter the portion of salary to be saved (in decimal form): "))
total_cost = float(input("Enter the cost of your dream home: "))

# Calculating the down payment required
down_payment = total_cost * portion_down_payment

# Initializing variables
current_savings = 0  # Start with no savings
months = 0  # Count of months needed

# Monthly salary
monthly_salary = annual_salary / 12

# Iteratively calculate savings per month until enough for down payment
while current_savings < down_payment:
    # Add monthly savings from salary
    current_savings += portion_saved * monthly_salary
    # Add monthly return on investment
    current_savings += current_savings * (r / 12)
    months += 1  # Increase month count

months

Enter your starting annual salary: 12000
Enter the portion of salary to be saved (in decimal form): .10
Enter the cost of your dream home: 1000000

671

In [ ]:
# Defining the constants
r = 0.04  # Annual return rate on investments
portion_down_payment = 0.25  # Down payment portion (25%)

# Asking for user inputs
annual_salary = float(input("Enter your starting annual salary: "))
portion_saved = float(input("Enter the portion of salary to be saved (in decimal form): "))
total_cost = float(input("Enter the cost of your dream home: "))
semi_annual_raise = float(input("Enter your semi annual raise:"))

# Calculating the down payment required
down_payment = total_cost * portion_down_payment

# Initializing variables
current_savings = 0  # Start with no savings
months = 0  # Count of months needed

# Monthly salary
monthly_salary = annual_salary / 12

# Iteratively calculate savings per month until enough for down payment
while current_savings < down_payment:
    # Add monthly savings from salary
    current_savings += portion_saved * monthly_salary
    # Add monthly return on investment
    current_savings += current_savings * (r / 12)
    if months % 6 == 0 and months > 0: #% makes it every 6 months
            annual_salary += annual_salary * semi_annual_raise
            monthly_salary = annual_salary / 12
    months += 1  # Increase month count


months

Enter your starting annual salary: 120000
Enter the portion of salary to be saved (in decimal form): .05
Enter the cost of your dream home: 500000
Enter your semi annual raise:.03

142

In [ ]:
# Approach 1: Function that prints the result
def range_check_print(number, low, high):
    if low <= number <= high:
        print(f"{number} is in the range between {low} and {high}.")
    else:
        print(f"{number} is NOT in the range between {low} and {high}.")

# Approach 2: Function that returns a boolean
def range_check_bool(number, low, high):
    return low <= number <= high

# Test the functions with example values
number = 10
low = 5
high = 15

# Approach 1: Print result
range_check_print(number, low, high)

# Approach 2: Return boolean value
is_in_range = range_check_bool(number, low, high)
is_in_range

10 is in the range between 5 and 15.

True

In [ ]:
def range_check(num, low, high):
  if num >= low and num <= high:
   return True
  else:
    return False

In [ ]:
print(range_check(2,1,3)) #if using key word, order doesnt matter ex. (num = 2, high = 3, low = 1) will still give same output

True

In [ ]:
def calcFee(hours, decimals=2):  #hours is a placeholder, get the value required to calculate the fee
  fee = round(5 + hours * 2.5, decimals)
  return fee

def displayFee(fee):
  print(fee)

hours_parked = int(input('Enter hours for parking:'))
f = calcFee(hours_parked) #expression assigned to f
displayFee(f) #if you do x = displayFee(f) and then print(x), you will get none

Enter hours for parking:4
15.0

In [ ]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return rev(s[1:]) + s[0]

rev('hello')

'olleh'

In [ ]:
"""Function that calculates the weighted average of a list L, given weights with function should
-ZeroDivision Error (return empty list)
-TypeError (returns empty list)
-Any other unknown error (returns float('nan'))"""

def wAvg(L,W):
  res=[]
  try:
    for i in range(len(L)):
      res.append(L[i]*W[i])
    return sum(res)/sum(W)
  except ZeroDivisionError:
    print("Division by zero.")
    return[]
  except TypeError:
    print("Non-numerical objects found.")
    return[]
  except Exception as e:
    print(f"Unknown error: {e}")
    return float('nan')

wAvg([1,2,3], [.4,0,-.4])

Division by zero.

[]

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def __str__(self):
    return f'Name: {self.name}.'

In [ ]:
class Student:
  def __init__(self, name, number, course):
    self.name = name
    self.number = number
    self.course = course

  def set_name(self, newname):
    self.name = newname

  def get_name(self):
    return self.name

  def __repr__(self):
    return f'Name: {self.name}'

  def set_courses(self, newcourse):
    self.course = newcourse

  def get_courses(self):
    return self.course

In [ ]:
class Student:

  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'You have already enrolled in class: {course}')

  def get_courses(self):
    return self.courses

In [ ]:
s = Student('Bob', '123')

In [ ]:
s.enroll('ABC123')
s.enroll('ABC456')
s.enroll('ABC789')

In [ ]:
s.get_courses()

['ABC123', 'ABC456', 'ABC789']

In [ ]:
s.enroll('ABC123')

You have already enrolled in class: ABC123

In [ ]:
s1 = Student("James Bond", "007", "BTE315")
s2 = Student ("Clark Kent", "333", "BTE535")

In [ ]:
s2.get_courses()

'BTE535'

In [ ]:
s2.set_name('Bob')
s2.get_name()

'Bob'

In [ ]:
s2.__name

AttributeError: 'Student' object has no attribute '__name'

In [ ]:
print(s1) #better option

Name: James Bond

In [ ]:
s1.name

'James Bond'